html {
    background-color: #F4E7D7;
    color: #3F4234;
}
nav {
    background-color: #131F28;
}
header{
    background-color: #131F28;
    
}
header nav{
    float: right;
    margin-top: -100px;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color:white;
}